@import url(antd/dist/antd.css);

body {
  margin: 0;
  padding: 1rem;
  display: flex;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.slider-wrapper {
  display: flex;
}

.slider-wrapper .slider {
  margin: 0 1rem;
  flex: 1;
}